body {
  font-family: sans-serif;
  color: blue;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #2B50AA;
  }
  
  .style2 {
    background-color: #ff9fe5;
  }
  
  .style3 {
    background-color: #ffd4d4;
  }
  
  .style4 {
    background-color: #ff858d;
  }
  
  .style5 {
    background-color: #2B50AA;
  }
  
  .style6 {
    background-color: #ff9fe5;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }